name: Unit and UI tests

on:
  pull_request:
    types: [ opened, reopened, labeled, synchronize ]

concurrency: 
  group: tests-${{ github.head_ref }}
  cancel-in-progress: true

jobs:

### UNIT TESTS

#   unit-tests:
#     runs-on: macos-latest

#     steps:
#       - name: Checkout repository
#         uses: actions/checkout@v2
      
#       - name: Install the dependencies specified in Gemfile
#         uses: ruby/setup-ruby@v1
#         with:
#           ruby-version: '2.7'
#           bundler-cache: true

#       - name: Cache pods
#         id: cache-pods
#         uses: actions/cache@v2
#         env:
#           cache-name: framework-pods
#         with:
#           path: Pods/
#           key: cache-${{ env.cache-name }}-${{ hashFiles('Podfile.lock') }}

#       - name: Install Pods
#         if: steps.cache-pods.outputs.cache-hit != 'true'
#         run: bundle exec pod install --deployment

#       - name: Run unit tests
#         env:
#           FASTLANE_SKIP_UPDATE_CHECK: true
#         run: bundle exec fastlane test

#       - name: Zip test results
#         if: failure()
#         env:
#           project-name: PayoneerCheckout
#         run: zip -r output/scan/${{ github.sha }}.xcresult.zip output/scan/${{ env.project-name }}.xcresult/

#       - name: Upload test results
#         if: failure()
#         uses: actions/upload-artifact@v2
#         with:
#           name: ${{ github.sha }}.xcresult.zip
#           path: output/scan/${{ github.sha }}.xcresult.zip/
#           if-no-files-found: error
#           retention-days: 5

# ### UI TESTS

#   ui-tests:
#     runs-on: macos-latest
#     strategy:
#       matrix:
#         scheme: [Swift, Objective-C]

#     steps:
#       - name: Checkout repository
#         uses: actions/checkout@v2
      
#       - name: Install the dependencies specified in Gemfile
#         uses: ruby/setup-ruby@v1
#         with:
#           ruby-version: '2.7'
#           bundler-cache: true

#       - name: Cache pods
#         id: cache-pods
#         uses: actions/cache@v2
#         env:
#           cache-name: example-app-pods
#         with:
#           path: ExampleCheckout/Pods/
#           key: cache-${{ env.cache-name }}-${{ hashFiles('ExampleCheckout/Podfile.lock') }}

#       - name: Install Pods
#         if: steps.cache-pods.outputs.cache-hit != 'true'
#         env:
#           project-directory: ExampleCheckout/
#         run: bundle exec pod install --deployment --project-directory=${{ env.project-directory }}

#       - name: Inject secrets
#         id: inject-secrets
#         env:
#           merchant-code: ${{ secrets.MOBILE_MERCHANT_CODE }}
#           merchant-token: ${{ secrets.MOBILE_MERCHANT_PAYMENT_TOKEN }}
#           payment-api-list-url: https:/\$()/api.integration.oscato.com/api/lists
#           xcconfig: ExampleCheckout/UITests/Assets/Config.xcconfig
#         run: |
#             echo "MERCHANT_CODE=${{ env.merchant-code }}" > ${{ env.xcconfig }}
#             echo "MERCHANT_PAYMENT_TOKEN=${{ env.merchant-token }}" >> ${{ env.xcconfig }}
#             echo "PAYMENT_API_LISTURL=${{ env.payment-api-list-url }}" >> ${{ env.xcconfig }}

#       - name: Run UI tests
#         env:
#           FASTLANE_SKIP_UPDATE_CHECK: true
#         run: bundle exec fastlane ui_test scheme:${{ matrix.scheme }}

#       - name: Clear secrets
#         if: always() && steps.inject-secrets.outcome == 'success'
#         id: clear-secrets
#         env:
#           xcconfig: ExampleCheckout/UITests/Assets/Config.xcconfig
#         run: rm ${{ env.xcconfig }}

#       - name: Publish test report
#         uses: mikepenz/action-junit-report@v2
#         if: always() && steps.clear-secrets.outcome == 'success'
#         continue-on-error: true
#         with:
#           report_paths: output/scan/report.junit
#           check_name: UI test report (${{ matrix.scheme }})

#       - name: Zip test results
#         id: zip-xcresult
#         if: failure()
#         env:
#           project-name: ExampleCheckout
#         run: zip -r output/scan/${{ github.sha }}.xcresult.zip output/scan/${{ env.project-name }}.xcresult/

#       - name: Upload test results
#         if: failure() && steps.zip-xcresult.conclusion == 'success'
#         uses: actions/upload-artifact@v2
#         with:
#           name: ${{ github.sha }}.xcresult.zip
#           path: output/scan/${{ github.sha }}.xcresult.zip/
#           if-no-files-found: error
#           retention-days: 5

# ### SWIFT LINT

#   swiftlint:
#     runs-on: ubuntu-latest

#     steps:
#       - name: Checkout repository
#         uses: actions/checkout@v2

#       - name: Lint the framework
#         uses: norio-nomura/action-swiftlint@3.2.1
#         with:
#           args: --strict

#       - name: Lint example applications
#         uses: norio-nomura/action-swiftlint@3.2.1
#         env:
#           WORKING_DIRECTORY: ExampleCheckout
#         with:
#           args: --strict

  create-a-test-file:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
          ref: ${{ github.event.pull_request.head.ref }}

      - name: Ident
        run: |
          git config --global user.email "you-bot@example.com"
          git config --global user.name "GitHub Actions Bot"

      - name: Test git push
        run: |
          echo TEST > TESTFILE
          git add .
          git commit --message "GitHub actions test push to develop"
          git push

      - name: Test git tag
        run: |
          git tag 0.1-test
          git push origin --tags