name: Security scan

on:
  pull_request:
    paths:
      - .github/scripts
  push:
    paths:
      - .github/scripts

concurrency: 
  group: security-${{ github.head_ref }}
  cancel-in-progress: true

jobs:
  shellcheck:
    name: Shellcheck
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Installs Rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true

      - name: Install dependecies
        run: cargo install shellcheck-sarif sarif-fmt

      - name: Analyze shell scripts
        run: shellcheck -f json .github/scripts/get_branch_name.sh | shellcheck-sarif | tee
          results.sarif | sarif-fmt

      - name: Upload SARIF file
        uses: github/codeql-action/upload-sarif@v2
        with:
          sarif_file: results.sarif

  codeql:
    name: CodeQL
    runs-on: ubuntu-latest

    permissions:
      security-events: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Initialize CodeQL for Python
        uses: github/codeql-action/init@v2
        with:
          languages: python
          config-file: ./.github/codeql/python-config.yml

      - name: Perform CodeQL analysis
        uses: github/codeql-action/analyze@v2