name: Automated tests

on:
  push:
    branches:
      - PCX-2120-github-actions
  pull_request:
    branches:
      - develop

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

concurrency: 
  group: tests-${{ github.head_ref }}
  cancel-in-progress: true

jobs:
  unit-tests:
    runs-on: macos-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      
      - name: Install the dependencies specified in Gemfile
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '2.7'
          bundler-cache: true

      - name: Cache pods
        id: cache-pods
        uses: actions/cache@v2
        env:
          cache-name: framework-pods
        with:
          path: Pods/
          key: cache-${{ env.cache-name }}-${{ hashFiles('Podfile.lock') }}

      - name: Install Pods
        if: steps.cache-pods.outputs.cache-hit != 'true'
        run: bundle exec pod install --deployment

      - name: Unit tests
        env:
          FASTLANE_SKIP_UPDATE_CHECK: true
        run: bundle exec fastlane test

      - name: Zip test results
        if: failure()
        env:
          project-name: PayoneerCheckout
        run: zip -r output/scan/${{ github.sha }}.xcresult.zip output/scan/${{ env.project-name }}.xcresult/

      - name: Upload test results
        if: failure()
        uses: actions/upload-artifact@v2
        with:
          name: ${{ github.sha }}.xcresult.zip
          path: output/scan/${{ github.sha }}.xcresult.zip/
          if-no-files-found: error
          retention-days: 5
