name: UI tests

on:
  # I use push instead of pull request because of bug with reusable workflows.
  # You can't use reusable workflows when action was triggered by pull request.
  # Discussion: https://github.com/github/feedback/discussions/10679
  push:
    branches-ignore: master

concurrency:
  group: ui-tests-${{ github.ref_name }}
  cancel-in-progress: true

jobs:
  ui-tests-single-device:
    if: github.ref != 'refs/heads/develop'
    name: Single device
    uses: ./.github/workflows/reusable_ui_tests.yml
    with:
      install-simulators-command: >-
        sudo ln -s $XCODE_12_DEVELOPER_DIR/Platforms/iPhoneOS.platform/Library/Developer/CoreSimulator/Profiles/Runtimes/iOS.simruntime /Library/Developer/CoreSimulator/Profiles/Runtimes/iOS\ 14.5.simruntime
    secrets:
      MOBILE_MERCHANT_CODE: ${{ secrets.MOBILE_MERCHANT_CODE }}
      MOBILE_MERCHANT_PAYMENT_TOKEN: ${{ secrets.MOBILE_MERCHANT_PAYMENT_TOKEN }}

  ui-tests-multiple-devices:
    if: github.ref == 'refs/heads/develop'
    name: Multiple devices
    uses: ./.github/workflows/reusable_ui_tests.yml
    with:
      schemes: '["Swift", "Objective-C"]'
      simulators: '["iPhone 13 (15.2)", "iPhone 12 (14.5)", "iPhone 11 (13.7)"]'
      install-simulators-command: >-
        sudo ln -s $XCODE_12_DEVELOPER_DIR/Platforms/iPhoneOS.platform/Library/Developer/CoreSimulator/Profiles/Runtimes/iOS.simruntime /Library/Developer/CoreSimulator/Profiles/Runtimes/iOS\ 14.5.simruntime && 
        sudo ln -s $XCODE_11_DEVELOPER_DIR/Platforms/iPhoneOS.platform/Library/Developer/CoreSimulator/Profiles/Runtimes/iOS.simruntime /Library/Developer/CoreSimulator/Profiles/Runtimes/iOS\ 13.7.simruntime
    secrets:
      MOBILE_MERCHANT_CODE: ${{ secrets.MOBILE_MERCHANT_CODE }}
      MOBILE_MERCHANT_PAYMENT_TOKEN: ${{ secrets.MOBILE_MERCHANT_PAYMENT_TOKEN }}